@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;

  &:focus {
    outline: none;
  }
}

p {
  font-size: 14px;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: white;
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999;

  .loader {
    width: 50px;
    height: 50px;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white),
      radial-gradient(
        circle at top,
        rgb(94, 94, 94) 30%,
        rgba(0, 0, 0, 0.151) 70%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.msg {
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 970;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 10px;
  transform: translateX(102%);
  transition: all 0.4s cubic-bezier(0.72, -0.03, 0.58, 1) 0.1s;
  user-select: none;
  align-items: center;

  &--visible {
    transform: translateX(0);
  }

  display: flex;

  .icon {
    float: left;
    margin-right: 20px;
    font-size: 30px;
  }

  p {
    font-weight: 400;
    font-size: 13px;
  }
}

button {
  &:hover {
    opacity: 0.7;
  }
}
